<launch>

  <node pkg ="my_sphero_actions"
        type="my_sphero_action_server.py"
        name="my_sphero_action_server_node"
        output="screen">
  </node>
  
  <node pkg ="my_sphero_topics"
        type="my_sphero_service_server.py"
        name="my_sphero_service_server"
        output="screen">
  </node>

  <node pkg ="my_sphero_main"
        type="sphero_main.py"
        name="sphero_main_node"
        output="screen">
  </node>


</launch>